@use '../../assets/sass/variables' as *;
@use '../../assets//sass/mixins' as *;

.title-welcome{
    font-size: 35px;
    margin-bottom: 20px;
    span{
        font-weight: 300;
    }
}

.hero{
    position: relative;
    @include flex(flex-start, space-between);
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border: 1px solid #999;
    border-radius: 20px;

    &__content{

    }

    &__cta{
        @include flex(flex-start, space-between);
        flex-direction: column;
        gap: 20px;

        a{
            margin-top: 20px;
        }
    }
}